.formContainer{
    height: 25em;
    border-radius: .5em;
    color: white;
    font-size: larger;
    width:60vw;
}

.contactImg{
    width:20vw;
    border: solid;
    border-color: rgb(184, 17, 17);
    border-radius: .5em;
    border-width: .2em;
}





