.formContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 2em;
    border-radius: .5em;
    color: white;
    font-size: larger;
    width:45em
}

.contactImg{
    width: 20em;
    border: solid;
    border-color: rgb(184, 17, 17);
    border-radius: .2em;
    border-width: .2em;
}





